<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/ui-lightness/jquery-ui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/style/jquery.checkbox.css" />
<script type="text/javascript" src="/js/jquery.checkbox.1.3.0.min.js"></script>

<style>
	.error_msg{
		width: 30em;
		margin: 10px 0px 10px 0px;
		padding: 10px;
		text-align: left;
	    overflow: hidden;
	    border-width: 1px;
	    border-style: solid;
	    border-color: #D7DF01;
	    background-color:#F2F5A9;
	}
</style>

<script type="text/javascript">
	function check_form(){
		if( "" == $('input[name=email]').val() ) {
			alert("Veuillez renseigner un email !");
			return false;
		}
		else
			return true;
	}

	function connectToFB() {
		FB.Connect.requireSession( function(){
			document.location = '/';
		});
		return false;
	}

</script>

{% if error %}
	<div class="error_msg ui-corner-all">
		{{ error }}
	</div>
	
<script type="text/javascript">
	$(".error_msg").fadeOut( 5000 );
</script>
{% endif %}

<form action="/do_login" method="get" onsubmit="return check_form();">

	<label for="email" style="display:block" >Email</label>
	<input type="text" name="email" class="text ui-widget-content ui-corner-all" style="width:30em; margin-bottom:12px; padding: .4em;" />
	
	<label for="password" style="display:block" >Password</label>
	<input type="password" name="password" class="text ui-widget-content ui-corner-all" style="width:30em; margin-bottom:12px; padding: .4em;" />
	
	<div style="margin-bottom:12px;">
	<label for="rememberme">Rester connecté</label>
	<input type="checkbox" name="remember_me" style="width:30em; margin-bottom:12px; padding: .4em;"/>
	</div>
	
	<div>
		<button class="bouton-orange" value="Se connecter" onclick="return check_form();">Se connecter</button>
		<button class="facebook-connect" value="Se connecter avec FB" onclick="return connectToFB();">Se connecter avec FB</button>
	</div>

</form>

<script type="text/javascript">
$(function() {
	$('input[name=remember_me]').checkbox();
});
</script>
